{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

<main class="container max-width-md padding-lg bg-white radius-lg">
    {% for block in page.body %}
        <div class="text-xs color-accent opacity-40% margin-bottom-xxxxs">&downarrow;{{ block.block_type }} block</div>
        {% if block.block_type == 'text' %}
            <div class='rich-text text-component margin-bottom-md'>
                {% include_block block %}
            </div>
        {% else %}
            {% include_block block %}
        {% endif %}
    {% endfor %}
</main>

{% endblock content %}
