{% load static wagtailcore_tags wagtailuserbar navigation_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% wagtail_site as current_site %}
                {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        <meta name="description" content="{{ page.search_description }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
        <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,700;1,400;1,700&family=Kalam:wght@300;400;700&display=swap" rel="stylesheet">

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %} bg-contrast-lower">
        {% wagtailuserbar %}
        <header class="container max-width-md margin-y-md flex@sm items-center@sm">
            <div class="logo col margin-bottom-sm margin-bottom-0@sm">
                <a href="/">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" class="c-accent">
                    <title>start</title>
                    <g>
                        <path
                            d="M24,1A23,23,0,1,0,47,24,23.026,23.026,0,0,0,24,1Zm-1,9a1,1,0,0,1,2,0V22a1,1,0,0,1-2,0Zm1,27a13,13,0,0,1-8.667-22.689,1,1,0,1,1,1.334,1.49,11,11,0,1,0,14.606-.054,1,1,0,1,1,1.322-1.5A13,13,0,0,1,24,37Z"
                            ></path>
                    </g>
                </svg>
                </a>
            </div>
            <nav class="bg-white radius-lg padding-xs padding-sm@sm">
                {% navbar page %}
            </nav>
        </header>
        {% block content %}{% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
